/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* body{
  background-color: indigo;
  font-family: 'Courier New', Courier, monospace;
}
h2{
  text-align: center;
}
.SignUp-form{
  max-width: 450px;
  border-radius: 20px;
  margin: auto;
  background-color: black;
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  margin-top: 100px;
}
input[type=text],input[type=password]{
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  outline: none;
  border-bottom: 1px solid gray;
} */